
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDAzMTFfMjA3%2FMDAxNzEwMTQ3MDkyNDYx.lUMde28ETb_B7tbcNGEysrLC1vSgldL6978_NsMwghgg.1RE8p_oC45TGEVsE3e00zXM7eKePu-L4raVDmePQzlwg.PNG%2Fimage.png&type=a340") no-repeat center center fixed;
    background-size: cover;

}

.nav-wrapper {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

.nav li {
    padding: 0 170px
}

.nav li a {
    text-decoration: none;
}

.nav li a:link {
    color: white;
}

.nav li a:hover {
    color: palevioletred;
}

.logo {
    margin-right: auto;
}

.main-text {
    text-align: center;
    padding: 150px;
    font-size: 25px;
    font-family: 'Song Myung', serif;
    width: 300px;
    color: white;
}

.card {
    width: 400px;
    background-color: white;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 10px 30px gray;
    margin: 50px;
    transition: 0.3s;

    position: relative;
}

.card-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    position: absolute;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body {
    margin: 410px 15px 15px;
    color: gray;
}

.hashtag {
    font-size: 12px;
    color: palevioletred;
}

.title {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 4px;
    color: black;
}

.desc {
    font-size: 15px;
}

.card:hover {
    transform:translateY(-10px);
}
